appdirs==1.4.4
bcrypt==4.0.1
beautifulsoup4==4.12.2
bidict==0.22.1
bleach==6.1.0
blinker==1.7.0
bottle==0.12.25
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozendict==2.3.8
gevent==23.9.1
greenlet==3.0.1
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.9.3
MarkupSafe==2.1.3
multitasking==0.0.11
numpy==1.26.2
packaging==23.2
pandas==2.1.3
pandas-ta==0.3.14b0
peewee==3.17.0
Pillow==10.1.0
plotly==5.18.0
pluggy==1.3.0
proxy-tools==0.1.0
psycopg==3.1.12
psycopg-binary==3.1.12
psycopg2-binary==2.9.9
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-socketio==5.10.0
pytz==2023.3.post1
requests==2.31.0
simple-websocket==1.0.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.23
tenacity==8.2.3
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
webencodings==0.5.1
Werkzeug==3.0.1
wsproto==1.2.0
WTForms==3.1.1
yfinance==0.2.31
zope.event==5.0
zope.interface==6.1
