{% extends '_layout.html' %}


{% block body %}
<style>
    .delete{
        background-color: red;
        position: absolute;
        top: 530px;
        right: 50px;
        margin: 10px;
    }
</style>

<div class="mb-3">
    <h1>Edit Profile</h1>
</div>
<form method="POST" action="/profile/{{session['user']['username']}}" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input class="form-control" type="text" id="first_name" name="first_name" placeholder="Default input" aria-label="default input example" value="{{user.first_name}}">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Default input" aria-label="default input example" value="{{user.last_name}}">
    </div>
<div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input class="form-control" type="text" id="username" name="username" placeholder="Default input" aria-label="default input example" value="{{user.username}}">
</div>
<div class="mb-3">
    <label for="email" class="form-label">Email address:</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{user.email}}">
</div>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="profile_picture" name="profile_picture">
        <label class="input-group-text" for="profile_picture">Upload</label>
    </div>
    <button type="submit" class="btn btn-secondary">Save Changes</button>
</form>

<form action="/profile/{{session['user']['username']}}/edit/delete" method="post">
    <button type="submit" class="btn btn-secondary delete">Delete Account</button>
</form>
{% endblock %}