{% extends '_layout.html' %}

{% block body %}
<style>
    .first{
        position: absolute;
        top: 530px;
        right: 50px;
        margin: 10px;
    }

    .popup {
        width: 500px;
        background: #ec7171;
        border-radius: 6px;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.1);
        text-align: center;
        padding: 0 30px 30px;
        color:#fff;
        visibility: hidden;
        transition: transform .4s, top .4s;
    }

    .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    .popup img {
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
    }
</style>

<div class="mb-3">
    <h1>Edit Profile</h1>
</div>
<form method="POST" action="/profile/{{session['user']['username']}}" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input class="form-control" type="text" id="first_name" name="first_name" placeholder="Default input" aria-label="default input example" value="{{user.first_name}}">
    </div>
    <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Default input" aria-label="default input example" value="{{user.last_name}}">
    </div>
<div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input class="form-control" type="text" id="username" name="username" placeholder="Default input" aria-label="default input example" value="{{user.username}}">
</div>
<div class="mb-3">
    <label for="email" class="form-label">Email address:</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{user.email}}">
</div>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="profile_picture" name="profile_picture">
        <label class="input-group-text" for="profile_picture">Upload</label>
    </div>
    <button type="submit" class="btn btn-secondary">Save Changes</button>
</form>

<button type="submit" class="btn btn-danger first">Delete Account</button>
    <div class="popup alert alert-danger" id="popup">
        <img src="/static/images/danger.jpeg" alt="">
        <h2>Warning!</h2>
        <p>Are you sure you want to delete your account? All your saved data will be lost.</p>
        <button type="submit" class="btn btn-warning btn-block second mb-3">Cancel</button>
        <form action="/profile/{{session['user']['username']}}/edit/delete" method="post">
            <button type="submit" class="btn btn-warning btn-block third">Confirm</button>
        </form>
    </div>

<script>
    let popup = document.getElementById('popup');
    const first_button = document.querySelector('.first');
    first_button.addEventListener('click', openPopup);
    const second_button = document.querySelector('.second');
    second_button.addEventListener('click', closePopup);
    const third_button = document.querySelector('.third');
    third_button.addEventListener('click', closePopup);

    function openPopup() {
        popup.classList.add("open-popup");
    }   

    function closePopup() {
        popup.classList.remove("open-popup");
    }
</script>
{% endblock %}