{% extends '_layout.html' %}


{% block body %}
<div class="mb-3">
    <h1>Edit Profile</h1>
</div>
<form method="POST" action="/users/{{user.user_id}}" enctype="multipart/form-data">
<div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{user.email}}">
</div>
<div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input class="form-control" type="text" id="username" name="username" placeholder="Default input" aria-label="default input example" value="{{user.username}}">
</div>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="profile_picture" name="profile_picture">
        <label class="input-group-text" for="profile_picture">Upload</label>
    </div>
    <button type="submit" class="btn btn-secondary">Save Changes</button>
</form>
{% endblock %}