{% extends '_layout.html' %}

{% block title %}
Stock whisperers
{% endblock %}
{% block body %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    
    <div class="hero-section">
    <div class="graph-title">
        <form>
            
        </form>
        <h2>
            Stock Prices
        </h2>
    </div>
    <div id="bargraph"></div>
    </div>
    <script>        
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected');
        });
        //var myPlot = document.getElementById('myDiv');

        socket.on('updateGraph', function (msg) {

            var graphData = JSON.parse(msg.value);

            graphData.layout.xaxis.autorange = true;

            Plotly.react('bargraph', graphData.data, graphData.layout); // Update the existing graph

            //Plotly.on()
        });



        socket.on('disconnect', function () {
            console.log('Disconnected');
        });
    </script>
    <style>
        #bargraph {
            height: 50vh;
            width: 50%;
            margin: auto;
            padding: 10px;
          }
          .modebar {
            display: none !important;
            }
    </style>  

    <!----- - -  Live Comment Code- - - - - - --  - - - - -- - - - - - -- - - - - - - -- - - - -  - -->  

    <script>  

    // append new comments  
    socket.on('new_comment', function(commentData) {   

       let commentElement = document.createElement("div"); 
       commentElement.innerHTML = `<strong>User ${commentData.user_id}:</strong> ${commentData.content}`; 
       document.getElementById("comments-container").appendChild(commentElement); 
    });

    function submitComment() { 
        let commentContent =document.getElementById("comment-input").value; 
        socket.emit('send_comment', { comment: commentContent}); 
        document.getElementById("comment-input").value = ' '; 
    }  

    fetch('/comment')
    .then(response => response.json())
    .then(comments => { 
        comments.forEach(comment => { 
            let commentElement = document.createElement("div") 
            commentElement.innerHTML = `<strong>User ${comment.user_id}:</strong> ${comment.content}`;
            document.getElementById("comments-container").appendChild(commentElement); 
        }); 
    }); 

        </script> 

    <div class = "comments-section"> 
        <h3> Live Comments</h3> 
        <div id = "comments-container"> 

        </div> 
    <!-- {% if current_user.is_authenticated %} -->
    <div class="comment-form"> 
    <textarea id="comment-input" placeholder="Enter comment"></textarea>
    <button onclick="submitComment()"> Comment </button>
    </div> 
    <!-- {% endif %} -->
    </div> 
{% endblock %}
