{% extends '_layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles.css"> 
{% endblock %}
{% block title %}Login Page{% endblock %}

{% block body %}

<form action="/login" method="post">

<div class="wrapper">
    <div class="container main">
        <div class="row one">
            <div class="col-md-6 side-image">
                
                <div class="text">
                    <p>Welcome back, 
                        <br>
                        stock whisperer</p>
                </div>
                
            </div>

                <div class="col-md-6 right">
                    
                    <div class="input-box">
                    
                    <h1 class="text-center">Login</h1>
                    <div class="input-field mt-3">
                            <input type="text" class="input" name="username" id="username" class="form-control" required>
                            <label for="username">Username or Email</label> 
                    </div> 
                    <div class="input-field">
                            <input type="password" class="input" name="password" id="password" class="form-control" required>
                            <label for="password">Password</label>
                    </div> 
                    <div class="input-field">
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                    </div> 
                    <div class="signin">
                        <span>Don't have an account? <a href="register">Register here</a></span>
                        
                    </div>
                    <div class="signin">
                        <span>Forgot Password? <a href="request_password_reset">Reset Password</a></span>
                    </div>
                    
                    </div>  
                </div>

        </div>
    </div>
</div>
</form>
{% endblock %}