{% extends '_layout.html' %}
{% block styles %}
<script src="https://kit.fontawesome.com/07187c1f27.js" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}Upload to Stock Whisperers{% endblock %}

{% block body %}

<style>
    .like-button {
        background: none;
        border: none;
        color: #e8251f;
        cursor: pointer;
    }

    a {
        text-underline-offset: 6px;
    }

    #post {
        border-width: 2px !important;
    }

    #post:hover {
        cursor: pointer;
        border: 2px solid rgb(52, 53, 54) !important;
    }
</style>


<main class="d-flex justify-content-center flex-column">

    <!-- TABS: Following / All Posts -->
    <ul class="nav nav-tabs align-self-center" id="postTabs">
        <li class="nav-item">
            {% if 'following' in request.path %}
            <a class="nav-link active" id="followingTab" data-toggle="tab" href="/posts/following">Following</a>
            {% else %}
            <a class="nav-link" id="followingTab" data-toggle="tab" href="/posts/following">Following</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if 'following' not in request.path %}
            <a class="nav-link active" id="allPostsTab" data-toggle="tab" href="/posts">All Posts</a>
            {% else %}
            <a class="nav-link" id="allPostsTab" data-toggle="tab" href="/posts">All Posts</a>
            {% endif %}
        </li>
    </ul>

    <!-- TAB CONTENT -->
    <div class="tab-content mt-3">

        <!-- Following Posts -->
        {% if 'following' in request.path %}
        <div class="tab-pane fade show active" id="followingPosts">
        {% else %}
        <div class="tab-pane fade" id="followingPosts">
        {% endif %}
            {% set posts = following_posts %}
            {% include 'posts_content.html' %}
        </div>

        <!-- All Posts -->
        {% if 'following' not in request.path %}
        <div class="tab-pane fade show active" id="allPosts">
        {% else %}
        <div class="tab-pane fade" id="allPosts">
        {% endif %}
            {% set posts = all_posts %}
            {% include 'posts_content.html' %}
        </div>
    </div>


    <!-- SCRIPTS -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Dynamic TABS -->
    <script src="./../static/scripts/dynamic-tabs.js"></script>

    <!-- Like Buttons -->
    <script src="./../static/scripts/dynamic-likes.js"></script>

</main>

{% endblock %}