{% extends "_layout.html" %}
{% block title %}Profile{% endblock %}
{% block styles %}
<script src="https://kit.fontawesome.com/07187c1f27.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<style>
  .rounded-circle {
    border: 2px solid #808080;
    border-radius: 50%;
    object-fit: cover;
  }

  .top-right {
    position: absolute;
    top: -8px;
    right: 0;
    margin: 10px;
  }

  .like-button {
    background: none;
    border: none;
    color: #e8251f;
    cursor: pointer;
  }

  a {
    text-underline-offset: 6px;
  }

  #post {
    border-width: 2px !important;
  }

  #post:hover {
    cursor: pointer;
    border: 2px solid rgb(52, 53, 54) !important;
  }
</style>
{% if session['user']['username'] != user.username %}
<div class="content-section">
  <div class="mt3">
    <div class="card">
      <div class="card-header">
        {{ user.first_name }} {{user.last_name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">User information:</h5>
        <p class="card-text">
        <div class="media">
          <img class="rounded-circle" src="{{ profile_picture }}" width="150" height="150" style="float: right;">
        </div>
        <strong>Username:</strong>
        <p>{{ user.username }}</p>
        <strong>Email:</strong>
        <p>{{ user.email }}</p>
        </p>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="content-section">
  <div class="mt3">
    <div class="card">
      <div class="card-header">
        {{ user.first_name }} {{user.last_name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Welcome!</h5>
        <p class="card-text">
        <div class="media">
          <img class="rounded-circle" src="{{ profile_picture }}" width="150" height="150" style="float: right;">
        </div>
        <strong>Username:</strong>
        <p>{{ user.username }}</p>
        <strong>Email:</strong>
        <p>{{ user.email }}</p>
        </p>
        <form action="/profile/{{session['user']['username']}}/edit" method="get" class="mt-3">
          <button type="submit" class="btn btn-secondary">Edit Profile</button>
        </form>
        <!-- logout button -->
        <form action="/logout" method="post">
          <button type="submit" class="btn btn-secondary top-right">Logout</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}

<br><br>

<!-- Posts -->
{% set posts = posts %}
{% include 'posts_content.html' %}

<!-- SCRIPTS -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Like Buttons -->
<script src="./../static/scripts/dynamic-likes.js"></script>

{% endblock %}