{% extends '_layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles.css"> 
{% endblock %}

{% block title %}Register Page{% endblock %}

{% block body %}

<form action="/register" method="post">

<div class="wrapper">
    <div class="container main">
        <div class="row two">
            <div class="col-md-6 side-image">
                
                <div class="text">
                    <p>Join the community, 
                        <br>
                        <i>stock whisperers</i>
                    </p>
                </div>
                
            </div>

                <div class="col-md-6 right">
                    
                    <div class="input-box">
                    
                    <h1 class="text-center">Register</h1>

                    <div class="input-field mt-3">
                        <input type="text" class="input" name="first-name" id="first-name" class="form-control" required>
                        <label for="first-name">First Name</label> 
                    </div> 

                    <div class="input-field mt-3">
                        <input type="text" class="input" name="last-name" id="last-name" class="form-control" required>
                        <label for="last-name">Last Name</label> 
                    </div> 

                    <div class="input-field mt-3">
                            <input type="email" class="input" name="email" id="email" class="form-control" required>
                            <label for="email">Email</label> 
                    </div> 

                    <div class="input-field mt-3">
                        <input type="text" class="input" name="username" id="username" class="form-control" required>
                        <label for="email">Username</label> 
                    </div> 

                    <div class="input-field">
                            <input type="password" class="input" name="password" id="password" class="form-control" required>
                            <label for="password">Password</label>
                    </div> 

                    <div class="input-field">
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>
                    </div> 

                    <div class="signin">
                        <span>Already have an account? <a href="login">Login here</a></span>
                        
                    </div>
                    
                    </div>  
                </div>

        </div>
    </div>
</div>
</form>
{% endblock %}