{% extends '_layout.html' %}

{% block title %}Register Page{% endblock %}

{% block body %}
<div class="container pt-4">
    <div class="border p-4">
        <h1 class="mb-4 text-center">Register</h1>
        <form action="/register" method="post">

            <div class="form-outline mb-4 col-md-4 mx-auto">
                <input type="text" id="first-name" name="first-name" class="form-control" placeholder="first name" required/>
            </div>

            <div class="form-outline mb-4 col-md-4 mx-auto">
                <input type="text" id="last-name" name="last-name" class="form-control" placeholder="last name" required/>
            </div>

            <div class="form-outline mb-4 col-md-4 mx-auto">
                <input type="email" id="email" name="email" class="form-control" placeholder="email" required/>
            </div>

            <div class="form-outline mb-4 col-md-4 mx-auto">
                <input type="text" id="username" name="username" class="form-control" placeholder="username" required/>
            </div>

            <div class="form-outline mb-4 col-md-4 mx-auto">
                <input type="password" id="password" name="password" class="form-control" placeholder="password" required/>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
            </div>

            <div class="text-center">
                <p>Already have an account? <a href="/login">Login</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}