{% extends '_layout.html' %}

{% block title %}Reset Page{% endblock %}

{% block body %}
<div class="container pt-4">
    <div class="border p-4">
        <h1 class="mb-4 text-center">Reset Password</h1>
        <form action="/request_password_reset" method="post">
            <div class="form-outline mb-4 col-md-4 mx-auto">
                <input type="email" id="email" name="email" class="form-control" placeholder="email" required/>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block mb-4">Request Password Reset</button>
            </div>

            <div class="text-center">
                <p>An email with instructions on how to reset your password will be sent to the following email address.</p>
            </div>
        </form>
    </div>
</div>
{% endblock %}