{% extends '_layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles.css"> 
{% endblock %}

{% block title %}Reset Page{% endblock %}

{% block body %}

<form action="/request_password_reset" method="post">

    <div class="wrapper">
        <div class="container main">
            <div class="row one">
                <div class="col-md-6 side-image">
                    
                    <div class="text">
                        <p>Forgot your password?
                            No Worries!</p>
                    </div>
                    
                </div>
    
                    <div class="col-md-6 right">
                        
                        <div class="input-box">
                        
                        <!-- <h1 class="text-center">Request Password Reset</h1> -->
                        <div class="medium">
                            <span>An email with instructions on how to reset your password will be sent to the following email address</span>
                        </div>
                        <div class="input-field mt-3">
                            <input type="email" class="input" name="email" id="email" class="form-control" required>
                            <label for="email">Email</label> 
                        </div> 
                        <div class="input-field mt-2">
                            <button type="submit" class="btn btn-primary btn-block mb-4">Request Password Reset</button>
                        </div> 
            </div>
        </div>
    </div>
</form>
{% endblock %}