{% extends '_layout.html' %}

{% block styles %}
<link rel="stylesheet" href="/static/styles.css"> 
{% endblock %}

{% block title %}Reset Page{% endblock %}

{% block body %}

<form action="/password_reset/{{ token }}" method="post">

<div class="wrapper">
    <div class="container main">
        <div class="row one">
            <div class="col-md-6 side-image">
                
                <div class="text">
                    <p>Almost There!</p>
                </div>
                
            </div>

                <div class="col-md-6 right">
                    
                    <div class="input-box">
                    
                        <h1 class="text-center">Reset Password</h1>
                        <div class="input-field">
                                <input type="password" class="input" name="password" id="password" class="form-control" required>
                                <label for="password">New Password</label>
                        </div> 

                        <div class="input-field">
                            <input type="password" class="input" name="confirm-password" id="confirm-password" class="form-control" required>
                            <label for="confirm-password">Confirm Password</label>
                        </div> 

                        <div class="input-field">
                            <button type="submit" class="btn btn-primary btn-block mb-4">Update Passowrd</button>
                        </div> 
                    
                    </div>  
                </div>

        </div>
    </div>
</div>
</form>
{% endblock %}