{% extends '_layout.html' %}
{% block styles %}
<script src="https://kit.fontawesome.com/07187c1f27.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
<link rel="stylesheet" type="text/css" href="./../static/posts.css">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
{% endblock %}
{% block title %}Stock Whisperer{% endblock %}
{% block body %}

<main class="d-flex justify-content-center flex-column">

    <!--  Post Container  -->
    <div class="container bg-secondary p-3 mb-3 rounded w-75" style="color: white;">

        <!--  Post Header Container  -->
        <div class="d-inline-flex align-items-center justify-content-between w-100">

            <!--  Post Title  -->
            {% if user.is_authenticated and user.user_id == post.creator.user_id %}
            <!--  if user is post creator  -->
            <div class="d-flex align-items-center justify-content-between w-100">
                <h2 class="d-flex align-items-center">{{ post.title }}</h2>
                <div class="d-flex align-items-center">
                    <h6 class="d-inline-block">Posted by you {{ post.date_posted|time_ago }}</h6>
                    <div class="dropdown ms-2">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/posts/edit/{{ post.post_id }}">Edit</a>
                            <a class="dropdown-item link-danger" href="#" data-post-id="{{ post.post_id }}"
                                id="delete-post">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            {% else %}
            <!--  if user is not post creator  -->
            <div class="d-flex align-items-center justify-content-between w-100 flex-wrap">
                <h2 class="d-flex align-items-center">{{ post.title }}</h2>
                {% if following %}
                <!--  if user is following post creator  -->
                <h6 class="d-inline-block">Posted by <a href=/profile/{{post.creator.username}} class="link-warning">{{
                        post.creator.username }}</a> {{ post.date_posted|time_ago }} <form class="d-inline-block"
                        action="/follow/{{ post.creator.user_id }}" method="post"><button type="submit"
                            id="follow-button" data-post-creator-id="{{ post.creator.user_id }}"
                            class="btn btn-warning ms-2 followed">Following</button></form>
                </h6>
                {% else %}
                <!--  if user is not following post creator  -->
                <h6 class="d-inline-block">Posted by <a href=/profile/{{post.creator.username}} class="link-warning">{{
                        post.creator.username }}</a> {{ post.date_posted|time_ago }} <form class="d-inline-block"
                        action="/follow/{{ post.creator.user_id }}" method="post"><button type="submit"
                            id="follow-button" data-post-creator-id="{{ post.creator.user_id }}"
                            class="btn btn-warning ms-2">Follow</button></form>
                </h6>
                {% endif %}
            </div>
            {% endif %}
            <!-- END Post Title  -->
        </div>
        <!-- END Post Header Container  -->

        <!--  Post Body Container  -->
        <div class="container p-0">

            <!--  Post Content  -->
            <div class="m-0 p-0">{{ sanitize_html(post.content)|safe }}</div>

            {% if post.file_upload %}
            <img src="./../static/post_pics/{{post.file_upload }}" class="mt-2" style="max-width: 300px;" width="100%">
            {% endif %}

            <!--  Like and Comment Buttons  -->
            <div class="mt-3">
                {% if user.is_authenticated %}
                {% if post in user.liked_posts %}
                <button class="d-inline-block like-button liked" data-post-id="{{ post.post_id }}"
                    data-user-id="{{ user.user_id }}"><i class="fa-solid fa-heart fa-xl heart-icon"
                        style="color: #e8251f;"></i></button>
                {% else %}
                <button class="d-inline-block like-button" data-post-id="{{ post.post_id }}"
                    data-user-id="{{ user.user_id }}"><i class="fa-regular fa-heart fa-xl heart-icon"
                        style="color: #e8251f;"></i></button>
                {% endif %}
                {% else %}
                <a href="/login"><button class="like-button"><i class="fa-regular fa-heart fa-xl heart-icon"
                            style="color: #e8251f;"></i></button></a>
                {% endif %}
                <p class="like-count d-inline-block">{{ post.likes }}</p>
                <button class="ms-3 comment-button" onclick="focus_on_comment()"><i
                        class="fa-solid fa-comment fa-xl comment-icon" style="color: #ffc107;"></i></button>
                <p class="d-inline-block">{{ post.comments|length }}</p>
            </div>
            <!-- END Like and Comment Buttons  -->
        </div>
        <!-- END Post Body  -->
    </div>
    <!-- END Post Container  -->

    <!--  Comments Container  -->
    <div class="container bg-secondary p-3 mb-5 rounded w-75" style="color: white;">

        <!--  Add Comment Form  -->
        <p>Add a comment as {{user.username}}</p>
        <form class="w-100 d-flex flex-column" action="/posts/{{ post.post_id }}/comment" method="post">
            <input id="content" style="opacity: 0; width: 0; float: left;" name="content" required>
            <trix-editor style="color: white;" input="content" placeholder="What are your thoughts?"
                id="comment-editor"></trix-editor>
            <input class="w-25 align-self-end mt-2" type="submit" value="Comment">
        </form>

        <!--  All Post Comments  -->
        <div class="comments-container container p-0">

            <!--  All Top Level Comments  -->
            {% for comment in post.comments %}
            {% if comment.parent_comment_id is none %}
            <div class="comment-container container pt-3 ps-0 pe-0">

                {% if user.username == comment.comment_creator.username %}
                <h6 class="d-flex">{{ comment.comment_creator.username }} (you) -<span
                        style="background-color: #6c757d;" class="badge badge-secondary">{{
                        comment.date_posted|time_ago }}</span></h6>
                {% else %}
                <h6 class="d-flex"><a class="link-warning" href="/profile/{{ comment.comment_creator.username }}">{{
                        comment.comment_creator.username }}</a>&nbsp;-<span style="background-color: #6c757d;"
                        class="badge badge-secondary">{{
                        comment.date_posted|time_ago }}</span></h6>
                {% endif %}

                <!--  Top Level Comment Content -->
                <div class="d-inline-flex align-items-center w-100 ps-3 border-start justify-content-between flex-wrap">

                    <div class="m-0 p-0">{{ sanitize_html(comment.content)|safe }}</div>

                    <!--  Like and Reply Buttons  -->
                    <div>
                        <button class="reply-button"><i class="fa-solid fa-reply fa-xl reply-icon"
                                style="color: black;"></i></button>
                        {% if comment in user.liked_comments %}
                        <button class="d-inline-block like-comment liked" data-comment-id="{{ comment.comment_id }}"
                            data-user-id="{{ user.user_id }}"><i class="fa-solid fa-heart fa-xl heart-icon"
                                style="color: #e8251f;"></i></button>
                        {% else %}
                        <button class="d-inline-block like-comment" data-comment-id="{{ comment.comment_id }}"
                            data-user-id="{{ user.user_id }}"><i class="fa-regular fa-heart fa-xl heart-icon"
                                style="color: #e8251f;"></i></button>
                        {% endif %}
                        <p class="like-comment-count d-inline-block">{{ comment.likes }}</p>
                    </div>

                    <!-- REPLY TEXT AREA -->
                    <form class="w-100 d-flex flex-column"
                        action="/posts/{{ post.post_id }}/comment/{{ comment.comment_id }}" method="post">
                        <div class="d-none d-inline-flex w-100 ps-3 pt-3 border-start flex-column reply-area">
                            <input id="reply{{ comment.comment_id }}"
                                style="opacity: 0; width: 0; height: 0; float: left;" name="reply" required>
                            <trix-editor style="color: white;" input="reply{{ comment.comment_id }}"
                                placeholder="What are your thoughts?"></trix-editor>
                            <input class="w-100 align-self-end" type="submit" value="Reply">
                        </div>
                    </form>

                    <!-- Replies of top Comment Content -->
                    {% for reply in post.comments %}
                    {% if reply.parent_comment_id == comment.comment_id %}
                    <div class="reply-container container pt-3 ps-0 pe-0">

                        {% if user.username == reply.comment_creator.username %}
                        <div class="d-flex">
                            <h6>{{ reply.comment_creator.username }} (you) -</h6>
                            <span style="background-color: #6c757d;" class="badge badge-secondary">{{reply.date_posted|time_ago }}</span>
                        </div>
                        {% else %}
                        <div class="d-flex">
                            <h6><a class="link-warning" href="/profile/{{ reply.comment_creator.username }}">{{
                                    reply.comment_creator.username }}</a>&nbsp;-</h6>
                            <span style="background-color: #6c757d;" class="badge badge-secondary">{{reply.date_posted|time_ago }}</span>
                        </div>

                        {% endif %}

                        <div
                            class="d-inline-flex align-items-center w-100 ps-3 border-start justify-content-between flex-wrap">

                            <div class="m-0 p-0">{{ sanitize_html(reply.content)|safe }}</div>

                            <!--  Like and Reply Buttons  -->
                            <div>
                                {% if reply in user.liked_comments %}
                                <button class="d-inline-block like-comment liked"
                                    data-comment-id="{{ reply.comment_id }}" data-user-id="{{ user.user_id }}"><i
                                        class="fa-solid fa-heart fa-xl heart-icon" style="color: #e8251f;"></i></button>
                                {% else %}
                                <button class="d-inline-block like-comment" data-comment-id="{{ reply.comment_id }}"
                                    data-user-id="{{ user.user_id }}"><i class="fa-regular fa-heart fa-xl heart-icon"
                                        style="color: #e8251f;"></i></button>
                                {% endif %}
                                <p class="like-comment-count d-inline-block">{{ reply.likes }}</p>
                            </div>

                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- END Top Level Comment Content -->
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- END All Post Comments  -->
    </div>
    <!-- END Comments Container  -->


    <!--  Scripts  -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!--  Delete Post  -->
    <script src="./../static/scripts/delete-post.js"></script>

    <!--  Follow  -->
    <script src="./../static/scripts/dynamic-follow.js"></script>

    <!--  Like and Reply Dynamic UI  -->
    <script src="./../static/scripts/dynamic-likes.js"></script>
    <script src="./../static/scripts/dynamic-replies.js"></script>

    <!--  Trix  -->
    <script type="text/javascript" src="./../static/scripts/trix-modifier.js"></script>

</main>

{% endblock %}