{% extends '_layout.html' %}

{% block title %}Stock Whisperer{% endblock %}
{% block body %}
<style>
    .liked {
        /* style the like button here to show that it is liked */
        background-color: red;
    }
</style>

<main class="d-flex justify-content-center flex-column">
    <div class="container bg-secondary p-3 mb-3 rounded w-75" style="color: white;">
        <div class="d-inline-flex align-items-center justify-content-between w-100">
            <h3>{{ post.title }}</h3>
            {% if user.is_authenticated and user.user_id == post.creator.user_id %}
            <!-- TODO: Add edit and delete buttons -->
            <!-- <a href="/posts/edit/{{ post.post_id }}"><button>Edit</button></a>
            <a href="/posts/delete/{{ post.post_id }}"><button>Delete</button></a> -->
            <h6>Posted by you, {{ post.date_posted|time_ago }}</h6>
            {% else %}
            <h6>Posted by {{ post.creator.username }}, {{ post.date_posted|time_ago }}</h6>
            {% endif %}
        </div>

        <div class="container p-0">
            <p>{{ post.content }}</p>
            <div>
                {% if user.is_authenticated %}
                {% if post in user.liked_posts %}
                <button class="d-inline-block like-button liked" data-post-id="{{ post.post_id }}"
                    data-user-id="{{ user.user_id }}">Liked</button>
                {% else %}
                <button class="d-inline-block like-button" data-post-id="{{ post.post_id }}"
                    data-user-id="{{ user.user_id }}">Like</button>
                {% endif %}
                {% else %}
                <a href="/login"><button>Like</button></a>
                {% endif %}
                <p class="like-count d-inline-block">{{ post.likes }}</p>
                <button class="ms-3">Comments</button>
                <p class="d-inline-block">{{ post.comments|length }}</p>
            </div>
        </div>
    </div>
    <div class="container bg-secondary p-3 mb-5 rounded w-75" style="color: white;">
        <p>Add a comment as {{user.username}}</p>
        <form class="w-100 d-flex flex-column" action="/posts/{{ post.post_id }}/comment" method="post">
            <textarea class="w-100 border bg-secondary mb-2 p-2" style="color: white;" name="content" id="content" cols="30"
                rows="5" placeholder="What are your thoughts?" required></textarea>
            <input class="w-25 align-self-end" type="submit" value="Comment">
        </form>

        <div class="comments-container container p-0">
            <p>ID: {{ post.post_id }}</p>
            {% for comment in post.comments %}
            <div class="comment-container container pt-3 ps-0 pe-0">
                <h6>{{ comment.comment_creator.username }}</h6>
                <div class="d-inline-flex align-items-center w-100 ps-3 border-start justify-content-between flex-wrap">
                    <p class="m-0 p-0">{{ comment.content }}</p>
                    <input type="submit" class="reply-button" value="Reply">
                    <!-- REPLY TEXT AREA -->
                    <div class="d-none d-inline-flex w-100 ps-3 pt-3 border-start flex-column reply-area">
                        <textarea style="color: white;" class="w-100 border bg-secondary" name="reply" id="reply" cols="30" rows="5" placeholder="What are your thoughts?" required></textarea>
                        <input class="w-100 align-self-end" type="submit" value="Reply">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.like-button').click(function (event) {
                event.stopPropagation();
                var postId = $(this).data('post-id');
                var userId = $(this).data('user-id');
    
                $.ajax({
                    type: 'POST',
                    url: '/posts/like',
                    data: { post_id: postId, user_id: userId },
                    success: function (data) {
                        console.log('Like added successfully');
                    },
                    error: function (error) {
                        console.error('Error adding like:', error);
                    }
                });
            });
        });
    </script>
    <script>
        function liked_or_not() {
            const like_button = document.getElementsByClassName("like-button");
            const like_count = document.getElementsByClassName("like-count");
            for (let i = 0; i < like_button.length; i++) {
                like_button[i].addEventListener("click", function () {
                    if (like_button[i].classList.contains("liked")) {
                        like_count[i].innerHTML = parseInt(like_count[i].innerHTML) - 1;
                        like_button[i].innerHTML = "Like";
                    } else {
                        like_button[i].innerHTML = "Liked";
                        like_count[i].innerHTML = parseInt(like_count[i].innerHTML) + 1;
                    }
                    like_button[i].classList.toggle("liked");
                });
            }
        }
        liked_or_not();

        // display reply area when reply button is clicked
        function reply() {
            const reply_button = document.getElementsByClassName("reply-button");
            const reply_area = document.getElementsByClassName("reply-area");
            for (let i = 0; i < reply_button.length; i++) {
                reply_button[i].addEventListener("click", function () {
                    reply_area[i].classList.toggle("d-none");
                });
            }
        }
        reply();
    </script>
</main>

{% endblock %}