{% extends '_layout.html' %}

{% block title %}Upload to Stock Whisperers{% endblock %}
{% block body %}

<main>
    <h1>Create a Post</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="w-75 mt-4">
            <input type="text" name="title" id="title" class="form-control" placeholder="Title" required>
            <br>
            <input id="text" type="hidden" name="text" required>
            <trix-editor input="text" placeholder="Text (optional)"></trix-editor>
        </div>

        <div class="w-75 mt-3 d-flex justify-content-between">
            <input class="form-control w-50" type="file" id="image_upload" name="image_upload">
            <input type="submit" class="btn btn-primary w-25" value="Post">
        </div>
    </form>
</main>
<script type="text/javascript">
    (function () {
        addEventListener("trix-initialize", function (e) {
            const file_tools = document.querySelector(".trix-button-group--file-tools");
            file_tools.remove();
        })
        addEventListener("trix-file-accept", function (e) {
            e.preventDefault();
        })
    })();
</script>
{% endblock %}