{% extends '_layout.html' %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.0/dist/trix.css">
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
{% endblock %}
{% block title %}Upload to Stock Whisperers{% endblock %}
{% block body %}

<main>
    <h1>Create a Post</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="w-75 mt-4">
            <input type="text" name="title" id="title" class="form-control" placeholder="Title" required>
            <br>
            <input id="text" type="hidden" name="text" required>
            <trix-editor style="background-color: white;" input="text" placeholder="Text (optional)"></trix-editor>
        </div>

        <div class="w-75 mt-3 d-flex justify-content-between">
            <input class="form-control w-50" type="file" id="image_upload" name="image_upload" accept="image/*">
            <input type="submit" class="btn btn-primary w-25" value="Post">
        </div>
    </form>
</main>


<!-- SCRIPTS -->

<script type="text/javascript" src="./../static/scripts/validate-image.js"></script>

<!-- Trix -->
<script src="./../static/scripts/trix-modifier.js"></script>

{% endblock %}